/*
Universally applied CSS rules and background color for all of body
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*  
header section including header, header-title, nav bar, and list items within nav
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header .header-title {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li .header-link{
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*
image below header
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* 
 Reasons section within main content
*/
.reasons {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-card img {
    max-height: 200px;
}

.content-card h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
float-left and float-right were made with id CSS selectors as they only affect the images within individual content-card divs
*/
#float-left {
    float: left;
    margin-right: 25px;
}

#float-right {
    float: right;
    margin-left: 25px;
}

/*
 Benefits section within main content
*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.individual-benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.individual-benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.individual-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
Footer section
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
